<h1>Listing pledges</h1>

<table>
  <tr>
    <th>Amount</th>
		<th>Organization</th>
  </tr>

<% for pledge in @pledges %>
  <tr>
    <td><%=h pledge.amount %></td>
		<td><%=h pledge.organization %>
    <td><%= link_to 'Show', pledge %></td>
    <td><%= link_to 'Destroy', pledge, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
