body {
  font: 12px Arial;
  color: #333;
  background:url('images/page-bg.png') #FFF repeat-x 0 100px;
  margin:0 0 15px;
 }

/*
** Page layout blocks / IDs
*/
#wrapper {
 width:900px;
 margin:0 auto;
}

#main {
 width: 630px;
 margin: 0 0px 0 235px;
 float:left;
 border: 8px solid #e7f9fb;
 padding: 8px;
 background:#FFF;
}
#sidebar-left, #sidebar-right {
 vertical-align: top;

 
  z-index:2;
}
.block h2 {
  font-family: Tahoma,Helvetica,Arial Narrow;
  background:#daeffa url('images/module-h3.png') repeat-x;
  margin: 5px 0 10px;
  font-size: 120%;
  padding: 5px 0 5px 8px;
  color: #02576b;
  border: solid #b7ecf5;
  border-width: 1px 3px;
}
#sidebar-left {
 width: 220px;
 float:left;
 margin-right:-220px;
 position:relative; 
}
#sidebar-right {
 width: 220px;
 float:right;
 margin-left:-220px;
 position:relative;
 z-index:2;
}
#header {
  background:#c7dce1 url('../images/inset-banner.jpg') no-repeat 50% 0pt;
  border-top:1px solid #d9f3f9;
  margin-bottom:15px;
}
#h2 {
 height:100px;
 width:900px;
 margin:0 auto;
}
#header img {
  margin-top:20px;
}
#header h1{
 
}
.site-name a {
  color: #26647b;
  font-family: Helvetica,Arial,"Lucida Grande",Verdana,sans-serif;
  text-decoration: none;
  margin-top:9px;
  display:block;
  float:left;
  font-size:70px;
  font-weight:lighter;
  position:relative;
  left:-4px;
}
.site-slogan {
  color: #333;
  width:100%;
  display:block;
  font-weight:bold;
}
.search-box {
  float:right;
  margin:10px 20px 0 0;
}
.search-box .form-text {
 background: url('images/search.png');
 font-size: 1em;
 color: #000;
 padding: 2px;
}
.form-text {
  display:block;
}
#primary{
  display:block;
  height:56px;
  background: url('images/menu-bg.png');
  width:100%;
}
#header-region {
}
#primary a {
  white-space: nowrap;
  font-family: Arial Narrow,Helvetica,sans-serif;
  color: #ffffff;
  display: block;
  float: left;
  height: 53px;
  line-height: 53px;
  text-transform: uppercase;
  background: url('images/menu-divider.png') no-repeat 100% 0;
  text-decoration:none;
}
#primary a span{
  padding: 0px 15px;
  display: block;
  height: 53px;
  float:left;
}
#primary a:hover, #primary a:active {
  text-decoration:none;
  color: #cccccc;
}
#primary a.active {
background: url('images/active-menu-r.png') no-repeat right top;
color: #000000;
}
#primary .active span {
background: url('images/active-menu-l.png') no-repeat left top transparent;
}
#primary ul{
  margin: auto;
  width: 950px;
}
#primary ul.links li {
  padding:0;
}
#mission {
  border:1px solid #cee0e4;
  padding:5px;
}
.messages {
 background-color: #eee;
 border: 1px solid #ccc;
 padding: 0.3em;
 margin-bottom: 1em;
}
.error {
 border-color: red;
}
#footer {
  text-align: center;
  font-size: 0.9em;
  width:950px;
  margin:auto;
}
.title h2, .title a {
  color: #02576b; 
  font-size: 23px;
  height: 30px;
  line-height: 30px;
  font-family: Tahoma,sans-serif;
  margin-bottom:20px;
  font-weight:lighter;
}
h1.title {
  color: #333; 
}
.block, .box {
 padding: 0 0 1.5em 0;
}
#sidebar-left .block{}
.block {
  display:block;
  border: 8px solid #e7f9fb;
  background:#FFF;
  padding:8px;
}
.taxonomy, .submitted, .links-node {
  font-size: 11px;
}
.taxonomy li, .links-node li {
  border-right: 1px solid #CCC;
}
.taxonomy li.last {
  border:0;
}
ul.links li {
padding:0 0.5em 0 0;
}
.taxonomy ul.links li {
padding:0 0 0 0.5em;
}
.node .picture {
 border: 1px solid #ddd;
 float: right;
 margin: 0.5em;
}
.comment {
}
.comment .title a {
}
.comment .picture {
 border: 1px solid #abc;
 float: right;
 margin: 0.5em;
}
/*
** Module specific styles
*/
.feed-icon img {
  margin-top:15px;
}
#aggregator .feed-source {
 background-color: #eee;
 border: 1px solid #ccc;
 padding: 1em;
 margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
 color: #999;
 font-style: italic;
 font-size: 0.9em;
}
#aggregator .title {
 margin-bottom: 0.5em;
 font-size: 1em;
}
#aggregator h3 {
 margin-top: 1em;
}
#forum table {
 width: 100%;
}
#forum td {
 padding: 0.5em;
}
#forum td.forum a{
text-decoration:none;
}
#forum td.forum, #forum td.posts {
 background-color: #e7f9fb;
}
#forum td.topics, #forum td.last-reply {
 background-color: #e7f9fb;
}
#forum td.container {
 background-color: #cee1e7;
}
#forum td.container a {
 color: #555;
 text-decoration:none;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
 height: 1.5em;
 border: 1px solid #bbb;
}
#forum td .name {
 color: #96c;
}
#forum td .links {
 padding-top: 0.7em;
 font-size: 0.9em;
}
#profile .profile {
 clear: both;
 border: 1px solid #abc;
 padding: .5em;
 margin: 1em 0em;
}
#profile .profile .name {
 padding-bottom: 0.5em;
}
.block-forum h3 {
 margin-bottom: .5em;
}
div.admin-panel .description {
 color: #999;
}
div.admin-panel .body {
 background: #f4f4f4;
}
div.admin-panel h3 {
 background-color: #69c;
 color: #fff;
 padding: 5px 8px 5px;
 margin: 0;
}
.node img{
  border:1px solid #CCC;
  margin:5px;
}
.poll .bar {
 background:#E7E7E7;
 border:#9C9C9C 1px solid;
}
.poll .bar .foreground{
 background:#CECDCE;
 border-right:#9C9C9C 1px solid;
}
.block-image IMG{
 border:1px solid #CECECE; padding:3px;
}
.block-user ul li{
 list-style-type:none;
 list-style-image:none;
}
#block-user-0 ul {
  padding: 3px 2em 3px 0;
}
#block-user-1 {
  line-height: 25px;
  font-size:14px;
}
span.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}
