<div class="block block-tg_navigator" id="block-tg_navigator-1">
    <h2 class="title">News About Us:</h2>
    <div class="content">
    </div>
</div>
<div class="block block-tg_navigator" id="block-tg_navigator-2">
    <h2 class="title">Other Information</h2>
    <div class="content">
    </div>
</div>
